body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}

.header {
	border-bottom: 2px solid #79C9EC;
	height: 108px;
}

.txtBox-login {
	margin: 20px 80px !important;;
}

.btn-login {
	margin: 20px 130px !important;
	margin-bottom: 50px !important;
}

#imgLogoApp {
	background-image: url("#{resource['images/logoApplication.png']}");
	float: left;
	height: 227px;
	margin-left: 200px;
	margin-top: 50px;
	width: 287px;
}

#imgLogoCompany {
	background-image: url("#{resource['images/logoCompany.png']}");
	float: left;
	height: 67px;
	margin-left: 80px;
	margin-top: 20px;
	width: 112px;
}

#imgApplicationLogo {
	background-image: url("#{resource['images/logoApplicationSmall.png']}");
	float: left;
    height: 70px;
    margin-left: 70px;
    margin-top: 15px;
    width: 88px;
}

#campanyName {
	float: left;
	height: 20px;
	margin-left: 130px;
	margin-top: 25px;
	width: 85px;
}

#applicationName {
    margin-left: 100px;
    margin-top: 25px;
    width: 195px;
}

#headerLinks {
    float: right;
    font-size: 16px;
    margin-right: 60px;
    margin-top: 25px;
}

#content {
	float: right;
	height: 35em;
	width: 80%;
}

.menu {
	float: left;
    padding-bottom: 20%;
    padding-left: 55px;
    padding-top: 11%;
    width: 15%;
}

.closeSession {
	font-size: 15px;
	float: right;
}

.optionMenu {
	display: block;
	margin: 2px;
}

.panel-login {
	height: 300px;
	margin-left: 650px;
	margin-top: 45px;
	width: 400px;
	margin-bottom: 90px;
}

.cmLink-recover {
	margin: 20px 90px !important;
	font-size: 0.7em !important;
}

.cmLink-register {
	color: #222222;
	margin: 20px 530px !important;
	font-size: 0.9em !important;
}